
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color:#AAC8A7;
    --second-bg-color: #C9DBB2;
    --text-color: #617A55;
    --main-color:#E3F2C1;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky {
    background: var(--bg-color);
}
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}
.navbar {
    position: relative;
   
 
    /* box-shadow: 2px 0px 2px 0px var(--main-color); */
   
}
.navbar a {
    font-size: 2.8rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    transform: scale(1.3);
}
#menu-icon {
    position: relative;
    font-size: 5.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
     background: url('images/bg1/Slide1.JPG') no-repeat; 
    background-size: cover;
    background-position: center;
}
.home-content {
    max-width: 60rem;
    z-index: 99;
}
.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h1 span {
    color: var(--text-color);
}
.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;  
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;                                                                                                                                                        
}
.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s; 

}

.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.btn-box .btn:hover {
    color: var(--main-color);
}
.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}
.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
    
}
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;

}
.home-sci a:hover::before {
    width: 100%;
}
img {
    width: 90%;
    height: 80vh;
    margin-left:30%;
    border-radius: 50%;
    /* opacity: 80%; */
    
}
.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
    /* >>>>>>>>>>>>>> */
        /* position: absolute;
        top: 55%;
        left: 76%;
        transform: translate(-50%, -50%) rotate(0);
        width: 40%;
        height: 74%;
        border-radius: 50%;
        border-top: .2rem solid var(--second-bg-color);
        border-bottom: .2rem solid var(--second-bg-color);
        border-left: .2rem solid var(--main-color);
        border-right: .2rem solid var(--main-color);
        box-shadow: 5px #AAC8A7; */

}
.home-imgHover:hover {
    background: var(--bg-color);
    /* opacity: .3; */
}


/* ============================================ About =========================================== */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* span {
    color: var(--main-color);
} */
.about-img {
    position: relative;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 30vh;
    width: 100%;
    margin-left: 1%;
}

/* .about-img img{
    width: 90%;
    border-radius: 50%;
    border-radius: .2rem solid var(--main-color);
     height: 30vh;
    width: 100%;
    
} */

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;

}



.about-content {
    text-align:center;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn-box .btns {
    display: inline-block;
    width: 15rem;
}

.btn-box .btns a::before {
    background: var(--second-bg-color);
}

/* ================================= Project ========================================== */
.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.project .project-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}
.project-row .project-column {
    flex: 1 1 40rem;
}
.project-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.project-column .project-box {
    border-left: .2rem solid var(--main-color);
}
.project-box .project-content {
    position: relative;
    padding-left: 2rem;
}

.project-box .project-content::before {
    content: '';
    position:absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height:2rem;
    background: var(--main-color);
    border-radius: 50%;
}
.project-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.project-content .content ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.project-content .content:hover::before {
    width:100%;

}
.project-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.project-content .content .year i {
    padding-right: .5rem;
}
.project-content .content h3 {
    font-size: 2rem;
}
.project .content p {
    font-size: 1.6rem;
    padding: .5rem;
}
.clickMe {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.clickMe a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 0 10px 0 10px;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.clickMe a:hover {
    color: var(--bg-color);
}
.clickMe a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;

}
.clickMe a:hover::before {
    width: 100%;
}
/* ====================================== Skills ====================================== */
.skills {
    min-height: auto;
    padding-bottom: 1rem;
    background: var(--second-bg-color);

    align-items: center;
    padding: 0 9%;
    /* background: url('images/2ndbg2.png') no-repeat;  */
    background-size: cover;
    background-position: center;
    
   

}
.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column {
    flex: 1 1 40rem;
}
.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 10.5rem;
}
 .skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.widthHeight{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    
   
    height: 40%;
    width: 40%;
    border-radius:0%;
}
.widthHeight2{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    
   
    height: 30%;
    width: 30%;
    border-radius:0%;
}
.laravel {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    height: 30%;
    width: 30%;
    border-radius:0%;
}
/* ======================== */

.container {
    position: relative;
    
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: -20%;
    
}
.container .ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    /* border-top: 4px solid 	#0080ff; */
    animation: animate 4s linear infinite;
}
@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container .ring::before {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
     background: 	#0080ff; 
    box-shadow: 0 0 0 5px 	#0080ff33,
    0 0 0 10px  	#0080ff22,
    0 0 0 20px  	#0080ff11,
    0 0  20px  	#0080ff,
    0 0  50px  	#0080ff;

}
.container .ring:nth-child(2) {
  animation: animate2 4s linear infinite;
  animation-delay: -1s;
  border-top: 4px solid transparent;
  /* border-left: 4px solid #00ff40; */
}
.container .ring:nth-child(2)::before {
    content: '';
    position: absolute;
    top:initial;
    bottom: 12px;
    left:12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #00ff40;
    box-shadow: 0 0 0 5px #00ff4033,
    0 0 0 10px  #00ff4022,
    0 0 0 20px  #00ff4011,
    0 0  30px  #00ff40,
    0 0  50px  #00ff40;

}
@keyframes animate2
{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.container .ring:nth-child(3) {
    animation: animate2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    /* border-left: 4px solid #ff0000; */
}
.container .ring:nth-child(3)::before {
    content: '';
    position: absolute;
    top:initial;
    bottom: 12px;
    left:12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #ff0000;
    box-shadow: 0 0 0 5px #ff000033,
    0 0 0 10px  #ff000022,
    0 0 0 20px  #ff000011,
    0 0  30px #ff0000,
    0 0  50px  #ff0000;

}
.other {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* .skills-content .progress {
    padding: 1rem 0;
}
.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span {
    color: var(--text-color);
} */
/* .skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
} */
/* .skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 0%;  
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 0%;  
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 0%;  
} */


/* ======================== Contact =================================== */
/* .contact {
    min-height: auto;
    padding-bottom: 7rem;  
   
   
    padding: 0 9%;
    background: url('images/bg5.jpg/Slide1.PNG') no-repeat; 
    background-size: cover;
    background-position: center;
     
}
.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .text-area-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);

}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .text-area-field textarea:focus~.focus,
.contact form .text-area-field textarea:valid~.focus {
    width:100%;
}
.contact form .textarea-field{
    position: relative;
    margin: 8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea { 
    resize: none;
} */


/* === new form ==============*/

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('images/bg5.jpg/Slide1.PNG') no-repeat; 
    background-size: cover;
    background-position: center;
}
form{
    width: 90%;
    height: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;

  }
  
  .input-section{
    width: 100%;
    position: relative;
  }
  
  /* H1 */
  /* .input-section h1{
    padding-left: 0.3em;
    margin-bottom: 0.5em;
    color: #b4b4b4;
    font-size: 1.9em;
    line-height: 1em;
    text-align: left;
    text-shadow: 0 1px 2px #00000024;
    border-left: 5px solid #b4b4b4;
    transition: all 300ms ease-in-out 
    ;
  } */
  
  
  /* Input && Textarea Styles*/
  .input-section input, textarea{
    width: 100%;
    height: 5em;
    padding: 0 1em;
    border: 2.5px solid #C9DBB2;
    border-radius: 6px;
    box-shadow: 0 1px 2px #00000024;
    text-shadow: 0 1px 2px #00000024;
    outline: none;
    transition: all 300ms ease-in-out;
    background: transparent;
  }
  
  .input-section textarea{
    height: 8em;
    padding: 0.5em 1em 1em 1em;
    overflow: hidden;
  }
  
  .input-section label{
    color: #617A55;
    font-size: 2.3em;
    font-weight: 450;
    text-shadow: 0 1px 2px #00000024;
    cursor: text;
    position: absolute;
    top: 60%;
    left: 1rem;
    transform: translateY(-55%);
    transition: all 300ms ease-in-out;
     background: transparent;
  }
  
  .input-section textarea + label{
    position: absolute;
    top: 1.45em;
    
  }
  
  /* Submit Button */
  #submit-section{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 20%;
  }
  
  #submit-section button{
    color: #617A55;
    font-size: 3em;
    font-weight: 450;
    box-shadow: #617A55;
    background: #C9DBB2;
    border: none;
    border-radius: 6px;
    padding: 0.45em 1.5em;
    transition: all 300ms ease-in-out;
    outline: none;
  }
/* Animations */
input:hover + label,
textarea:hover + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label{
  padding: 0 3px;
  font-size: 1.6em;
  color: #617A55;
  background: #E3F2C1;
  transform: translateY(-2.7em);
}

textarea:hover + label,
textarea:not(:placeholder-shown) + label{
  transform: translateY(-2em);
}

input:hover,
textarea:hover,
input:not(:placeholder-shown),
textarea:not(:placeholder-shown){
  color: #617A55;
  border-color: #C9DBB2;
}

form:valid > .input-section > h1{
  color: #617A55;
  border-color: #617A55;
}

form:valid > #submit-section > button{
  background: #C9DBB2;
}

:root {
    --bg-color:#AAC8A7;
    --second-bg-color: #C9DBB2;
    --text-color: #617A55;
    --main-color:#E3F2C1;
}

/* ================ footer ========================= */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    width: 100%;
    background: var(--second-bg-color);
}
.footer-text p {
    font-size: 1.6rem;
}
.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.footer-iconTop a:hover::before {
    width: 100%
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;

}
.footer-iconTop a:hover i {
    color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */
.animate {
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: yellowgreen; */
    z-index: 98;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4% 2rem;
    }
    .home {
        padding: 0 4%;
    }
    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    /* ===== to open&close toggle ======= */
    .navbar.active {  
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
      
    }
    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        /* opacity: .6; */
    }
}
    @media (max-width: 520px) {
        html {
            font-size: 50%;
        }
        .home-content h1{
            display: flex;
            flex-direction: column;
        }
        .home-sci {
            width: 160px;
        }
        .home-sci a{
            width: 38px;
            height: 38px;
        }

    }
    @media (max-width: 462px){
        .home-content h1 {
            font-size: 5.2rem;
        }
        .project {
            padding: 10rem 4% 5rem 5%;
        }
        .contact form .input-box .input-field {
            width: 100%;
        }
        .footer {
            flex-direction: column-reverse;
        }
        .footer p {
            margin-top: 2rem;
            text-align: center;
        }
    }
    @media (max-width: 462px) {
        .home {
            justify-content: center;
        }
        .home-content {
            display:flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
     
        img .home-imgHover{
            width:80%;
            height: 50vh;
            overflow:hidden;
        }
        /* img {
            height: 27vh;
            width: 100%;
            margin-left: 1%;
        } */
        
    }
    @media (max-width: 360px){
        img {
            height: 24vh;
            width: 100%;
            margin-left: 1%;
        }
    }
   
    @media (min-width: 361px){
        img {
            height: 21vh;
            width: 100%;
            margin-left: 1%;
        }
    }
    @media (min-width: 375px){
        img {
            height: 27vh;
            width: 100%;
            margin-left: 1%;
        }
    }
    @media (min-width: 390px){
        img {
            height: 21vh;
            width: 100%;
            margin-left: 1%;
        }
    }
    @media (min-width: 414px){
        img {
            height: 20vh;
            width: 100%;
            margin-left: 1%;
        }
    }
    @media (min-width: 1024px){
        img {
            height: 33vh;
            width: 100%;
            margin-left: 1%;
        }
    }
    @media (min-width: 1280px){
        img {
            height: 30vh;
            width: 100%;
            margin-left: 1%;
        }
    }

    /* KEYFRAMES ANIMATION */
    @keyframes homeBgText {
        0%, 10%, 100% {
            background-position: -33rem 0;
        }
        65%,
        85% {
            background-position: 0 0;
        }
    }
    @keyframes homeCursorText {
        0%, 10%, 100% {
           width: 0;
        }
        65%,
        78%,
        85% {
            width: 100%;
            opacity: 1;
        }

        75%,
        81% {
            opacity: 0;
        }
    }
    @keyframes aboutSpinner {
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    @keyframes showRight {
        100%{
            width: 0;

        }
    }
   
   

